<div class="tx-felogin-pi1">
<f:form action="unlock">
	<fieldset>
		<f:if condition="{wrongPasswordEntered}">
			<f:then>
				<div class="error"><p>{f:translate(key: 'error.invalidPassword')}</p></div>
			</f:then>
			<f:else>
				<div><p>{f:translate(key: 'pleaseEnterPassword')}</p></div>
			</f:else>
		</f:if>
		<div class="form-group">
			<f:form.hidden name="referer" value="{referer}" />
			<f:form.password name="password" />
		</div>
		<div class="form-group">
			<button type="submit" name="submit" value="{f:translate(key: 'button.unlock')}" class="btn btn-large-width btn-primary btn-image-right inline">{f:translate(key: 'button.unlock')}</button>
		</div>
	</fieldset>
</f:form>
</div>


